@import "bootstrap-sprockets";
@import "bootstrap";

.BaseCard {
  border-style: outset;
  width: 240px;
  height: 100px;
  text-align: center;
}

.BaseCardName {
  width: 250px;
  height: 25px;
}

.BaseCardDescription {
  width: 250px;
  height: 75px;
}

.HeroCard {
  border-style: outset;
  width: 150px;
  height: 130px;
  text-align: center;
}

.GameBoard {
  border-style: solid;
  width: 1250px;
  height: 670px;
}

.Lane {
  width: 250px;
  height: 500px;
  padding-top: 5px;
}
