.BaseCard {
  border-style: outset;
  width: 250px;
  height: 100px;
  text-align: center;
}

.BaseCardName {
  width: 250px;
  height: 25px;
}

.BaseCardDescription {
  width: 250px;
  height: 75px;
}
