.BaseCard {
  border-style: outset;
  width: 240px;
  height: 100px;
  text-align: center;
}

.BaseCardName {
  width: 250px;
  height: 25px;
}

.BaseCardDescription {
  width: 250px;
  height: 75px;
}

.GameBoard {
  border-style: solid;
  width: 1250px;
  height: 670px;
}

.Lane {
  border-style: solid;
  width: 250px;
  height: 500px;
}
